{% extends "base_2.html" %}
{% load static from staticfiles %}



   {% block content %}

<a class="btn btn-primary form_block" href="{% url "assistant_done" %}" role="button" target="_blank"
			   onclick="window.open(this.href, '', 'scrollbars=1, height='+Math.min(800, screen.availHeight)+', width='+Math.min(1200, screen.availWidth)+', top='+ ((window.innerHeight - 300)/2)+', left='+((window.innerWidth - 400)/2)); return false;">Сформовані звіти</a>



<form  action='{% url "assistant_doc"%}' method="post" enctype="multipart/form-data" class="close-form" name="myform" role="form">

                   {% csrf_token%}
           <table class="table table-bordered table-condensed" >


                  <thead class="table-fixedheader">
				  <tr>
					  <th>№</th>
					  <th>Дата</th>
					  <th>Клієнт</th>
					  <th>Телефон</th>
					  <th>Бренд</th>
					  <th>Модель</th>
					  <th>Вартість</th>
					  <th>Серійний номер</th>
					  <th>Статус</th>
					  <th>Відправка</th>
					  <th>Гарантія</th>

				  </tr>
				  </thead>


			   <tbody >

		   {% for table in tables %}

		   <tr class="{{table.status}}" ondblclick="go('{% url 'edit_order' table.id %}'); return false;">

			  <td >{{table.id}}</td>
			  <td>{{table.date_now|date:"d.m.Y H:i"}}</td>
			  <td>{{table.customer.contact_name}}</td>
			  <td>{{table.customer.phone}}</td>
			  <td>{{table.brand}}</td>
			  <td>{{table.model_item}}</td>
			   <td>{{table.cost_repair}}</td>
			  <td>{{table.serial_number}}</td>
			  <td>{{table.get_status_display}}</td>
			   <td>{{table.get_to_send_display}}</td>
			  <td>{{table.get_is_warranty_display}}</td>

		  </tr>

			    {% endfor %}
			   </tbody>

	   </table>

<div class="form-horizontal form_block">
		  <input type="submit"  name="save_button" value="Сформувати звіт" class="form-control form_block btn btn-primary";/>
		  <input type="submit" name="cancel_button" value="Скасувати" class="form-control form_block"/>
         </div>

	  </form>







{% endblock content %}

