{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %}Редагувати{% endblock title %}

{% block content %}

	   <form action=''{% url "edit_credit" transaction.pk%}' class="form-horizontal form_field" method="post" name="edit_credit"  id="post-form">

      	 {% csrf_token%}

         {% bootstrap_form form layout="horizontal" %}

          {% buttons %}
          <input type="submit" name="save_button" value="Зберегти" class="btn btn-primary form_block"/>
		  <input type="submit" name="cancel_button" value="Скасувати" class="btn btn-link form_block"/>
		  {% endbuttons %}

	  </form>

{% endblock content %}